.name {
    font-family: Helvetica;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
}

.head, .head1, .head2, .head3, .head4{
    font-family: Helvetica;
    font-variant: small-caps;
    text-decoration: underline;
    font-size: 25px;
}

.info {
    font-family: Calibri;
    font-weight: bold;
    text-align: center;
}

p {
    font-family: Calibri;
}

p, li, strong {
    font-family: Calibri;
}

p, strong {
    line-height: 100%;
    min-height: 100%;
}

.row1, .row2, .row3 {
    font-family: Calibri;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: separate;
    border-spacing: 120px 0;
}
