.name {
    font-family: Helvetica;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 20%;
}

.info {
    font-family: Calibri;
    font-weight: bold;
    text-align: center;
}

.head {
    font-family: Helvetica;
    font-variant: small-caps;
    text-decoration: underline;
    font-size: 25px;
    line-height: 50%;
}

#highschool {
    line-height: 50%;
}

#college {
    line-height: 50%;
}

.employ {
    line-height: 50%;
}

.work {
    line-height: 50%;
}

strong {
    font-family: Calibri;
    font-size: 20px;
}

p, em, li {
    font-family: Calibri;
    font-size: 15px;
}

li{
    line-height: 120%;
}

@meta only screen and (min-width: 280px) and (min-height: 600px) and (orientation: portrait)  {
    body {
        font-size: 16px;
        line-height: 30%;
    }
}

