.name {
    font-family: Helvetica;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
}

.head {
    font-family: Helvetica;
    font-variant: small-caps;
    text-decoration: underline;
    font-size: 25px;
    line-height: 70%;
}

.info {
    font-family: Calibri;
    font-weight: bold;
    text-align: center;
}

p {
    font-family: Calibri;
    font-size: 18px;
}

p, li, strong {
    font-family: Calibri;
    font-size: 18px;
}

p, strong {
    line-height: 40%;
    min-height: 40%;
}

.row1, .row2, .row3 {
    font-family: Calibri;
    font-size: 18px;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: separate;
    border-spacing: 150px 0;
}

td {
    font-size: 18px;
}

h2 {
    font-size: 25px;
}

section {
    line-height: 120%;
    min-height: 120%;
}

.head th h2 {
    line-height: 10%;
    min-height: 10%;
}

p li {
    line-height: 60%;
    min-height: 60%;
}

.sum {
    line-height: 100%;
}

p, em {
    line-height: 5%;
    min-height: 5%;
}
